################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Pract1-Controles/.vs
/Descuentos/.vs
/Problema 3 Lab 1/.vs
